<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Tart Queue Connection String" value="DefaultEndpointsProtocol=https;AccountName=tartfabriken;AccountKey=ob8WGE5JtRi+qFeQDWEqtgd1ATy1IDqMffomFSMYuV0D+7JscM+W+sF5ev8aP/0Du1TDcaOgXRrs4dbe/s4GlQ==" />
		<add key="Tart Queue Name" value="tartorderstesting2" />
	</appSettings>
</configuration>