<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="tartfabriken" connectionString="Server=tcp:omu5fa5li5.database.windows.net,1433;Database=Tartfabriken;User ID=Demo@omu5fa5li5;Password=DevDem0Roadshow;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"
				 xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
	</connectionStrings>
</configuration>