<div class="well">
    <a href="/order.aspx?prod={{product.Id}}" title="Order {{product.Name}}" ng-cloak>
        <div>
            <h3>{{product.Name}}</h3>
            <img ng-src="/Images/Products/Thumbnails/{{product.ImageName}}" alt="Image of {{product.Name}}" class="img-responsive" />
            <p class="description">{{product.Description}}</p>
        </div>
    </a>
    <div>
        <p class="price">{{product.Price}} kr</p>
        <a class="btn btn-primary" href="/order.aspx?prod={{product.Id}}" title="Order {{product.Name}}" ng-click="clicked()">Order Now</a>
    </div>
</div>