<div id="featuredProduct" class="jumbotron" ng-cloak>
    <img alt="Featured Product" ng-src="/Images/Products/{{featured.ImageName}}" class="img-responsive" />
    <div id="featuredProductInfo">
        <div id="productInfo">
            <h2>{{featured.Name}}</h2>
            <p class="price">{{featured.Price}} kr</p>
            <p class="description">{{featured.Description}}</p>
        </div>
        <div id="callToAction">
            <a class="btn btn-primary" href="/order.aspx?prod={{featured.Id}}" title="Order {{featured.Name}}">Order Now</a>
        </div>
    </div>
</div>